*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #aec4e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;

  padding: 2rem 1rem;
}

.container {
  max-width: 100%;
  width: 1200px;
}

.paper {
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student-form {
  margin: auto;
  width: max-content;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.student-form__field {
  text-align: left;
}

.student-form__field label {
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.student-form__field input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.student-form__field input:focus {
  outline: none;
  border-color: #646cff;
}

.student-form__button {
  padding-inline: 2rem;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  background-color: #535bf2;
  border-color: #ccc;
}

button:focus,
button:focus-visible {
  border-color: #ccc;
}

.students-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  max-width: 100%;
}

.student {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.paginator {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 100%;
  overflow: auto;
}

.paginator__page {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  min-width: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  cursor: pointer;
  user-select: none;
}

.paginator__page.is-current {
  background-color: #646cff;
  color: #fff;
}
