spring.datasource.url= jdbc:postgresql://localhost:5432/students-db
spring.datasource.username= user
spring.datasource.password= password

springdoc.api-docs.path=/api-docs

org.gravitytwog.cors.allowedOrigins= http://localhost:5173